
html{
  scroll-behavior: smooth;
  /* width: 100vw; */
}


.landing-bg{
  background-image: url('./components/beercheers.jpg');
  background-repeat: no-repeat;
  height:100vh;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.qod-card, .cardbody {
  background: #f2e8cf !important;
  opacity: 0.85;
  margin: 0 20px;
}

.qod-card{
  margin-top: 50px;
}

.tss{
  padding-left: 10px;
  /* z-index:50; */
  font-size:0.9em; 
  font-weight: bold;
}

.tss a {
  color: #ccc; 
  margin-left: 4px; 
  vertical-align: middle;
}


.arrow{
  height: 200px;
}


.fa-chevron-circle-down{
  color: #f2e8cf;
  opacity: 0.85;
  margin-top: 20px;
}

.fa-chevron-circle-down:hover{
  color: #f2e8cf;
  margin-top: 40px;
  transition: 0.5s;
}


.age-section{
  height: 150px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eligible-reg{
  height: 50px;
}

#searchbox{
  width: 50%;
  min-width: 150px;
}


#page-btn{
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
  #page-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}





#lowTog{

  padding: 0px 15px 12px 15px;
}

#highTog{
  
  padding: 12px 15px 0px 15px;

}


.home-page{
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
  padding-bottom: 30px;
}

.home-main{
  margin: 0 30px !important; 
}


.site-footer{
  background-color: rgb(45,51,56);
  color: #d3d3d3;
  text-align: center;
  padding-top: 15px;
  height: 50px;
  font-size: 13px;

}

.site-footer a{
  padding-left: 7px;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 15px;
}

.site-footer a:hover, .fa-heart:hover{
  color: orange;
  text-decoration: none;
}


/* .overall{
  min-height: 95vh;
} */


.indi-cart{
  background: transparent;
  padding: 7px 7px;
  color: orange;
  border-radius: 3px;
  border: 1px solid orange
}

.indi-cart:hover{
  color: white;
  background: orange;
  cursor: pointer;
}

.view-cart{
  background: orange;
  padding: 5px 20px;
  color: white;
  border-radius: 3px;
  border: 1px solid orange;
  margin-bottom: 13px;
  margin-right: 10px;
  margin-top: 2px;
}

.view-cart .fa-cart-plus{
  font-size: 18px; 
}

.view-cart:hover{
  /* color: white; */
  border: 1px solid transparent;
  background: rgb(247, 195, 83);
  cursor: pointer;
}

.StripeCheckout{
  background: firebrick !important;
  
  
} 

.StripeCheckout > span{
  background-image: linear-gradient(rgba(255, 255, 255, 0.002), rgba(255, 255, 255, 0.002) 85%, rgba(255, 255, 255, 0.002)) !important;
  background: firebrick !important;
  
  
  
}

.StripeCheckout:hover{
  background: red !important;

} 

.StripeCheckout > span:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.002), rgba(255, 255, 255, 0.002) 85%, rgba(255, 255, 255, 0.002)) !important;
  background: red !important;
  
}


.navbar-fa{
  font-size: 30px;
  color: #d3d3d3
}

.user-name, .loginout{
  color: #d3d3d3 !important;
}

.fa-user-circle{
  margin-top: -2px;
  margin-right: -5px;
  
}

.fa-shopping-cart{
  font-size: 25px;
  color: #d3d3d3;
}

.fa-history{
  font-size: 25px;
  color: #d3d3d3;
  margin-right: 15px;
}

.nav-items-hover:hover, .fa-home:hover, .fa-user-circle:hover, .fa-shopping-cart:hover, .fa-history:hover{
  color: orange ;
}

#navlogo{
  margin-top: -10px;
  margin-right: 10px;
}


.nav-view-cart{
  margin-right: 15px;
}

.submit-order{
  font-size: 15px !important;
  font-weight: bold !important;
}

.log-reg{
  background: rgb(240, 240, 240);
  min-height: 100vh;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
}




@keyframes ldio-crwqkptrn5 {
  0%    { transform: translate(2px,2px) }
 33.33% { transform: translate(102px,2px) }
 66.66% { transform: translate(42px,102px) }
100%    { transform: translate(2px,2px) }
}


.ldio-crwqkptrn5 > div {
transform: scale(0.8);
transform-origin: 100px 100px;
}

.ldio-crwqkptrn5 > div > div {
animation: ldio-crwqkptrn5 1s linear infinite;
position: absolute
}

.ldio-crwqkptrn5 > div > div div:nth-child(1) {
width: 72px;
height: 72px;
border-radius: 50%;
border: 12px solid #1e3049;
background: #ffcd06
}

.ldio-crwqkptrn5 > div > div div:nth-child(2) {
width: 17px;
height:  51px;
transform: rotate(-45deg);
background: #1e3049;
border-radius: 0 0 8px 8px;
position: absolute;
top: 68px;
left: 85px
}
.loadingio-spinner-magnify-y0rd43cs3y {
width: 200px;
height: 200px;
display: inline-block;
overflow: hidden;
background: rgb(240,240,240);
}
.ldio-crwqkptrn5 {
width: 100%;
height: 100%;
position: relative;
transform: translateZ(0) scale(1);
backface-visibility: hidden;
transform-origin: 0 0; /* see note above */
}
.ldio-crwqkptrn5 div { box-sizing: content-box; }
/* generated by https://loading.io/ */



