/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html{
  scroll-behavior: smooth;
}

.landing-bg{
  background-image: url('./components/beercheers.jpg');
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  height:100vh;
  /* width: 100%;  */
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* width: 75vw; */
  background-size: cover;
  /* object-fit: cover; */
  background-position: center;
}

.qod-card, .cardbody {
  background: #f2e8cf !important;
  opacity: 0.85;
  margin: 0 20px;
}

.qod-card{
  margin-top: 50px;
}

.tss{
  padding-left: 10px;
  /* z-index:50; */
  font-size:0.9em; 
  font-weight: bold;
}

.tss a {
  color: #ccc; 
  margin-left: 4px; 
  vertical-align: middle;
}


.arrow{
  height: 200px;
}

.fa-angle-down{
  color: #f2e8cf;
}

.fa-angle-down:hover{
  color: #f2e8cf;
  margin-top: 20px;
  transition: 0.5s;
}

.age-section{
  height: 150px;
  background-color: darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#eligible-reg{
  height: 50px;
}

#searchbox{
  width: 50%;
  min-width: 150px;
}

#page-btn{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


#lowTog{

  padding: 0px 15px 12px 15px;
}

#highTog{
  
  padding: 12px 15px 0px 15px;

}


.home-page{
  background-color: rgb(240, 240, 240);
  padding-top: 20px;
}

.home-main{
  margin: 0 50px !important; 
}


.site-footer{
  background-color: rgb(45,51,56);
  color: #d3d3d3;
  text-align: center;
  padding-top: 15px;
  height: 50px;
  font-size: 13px;
}

.site-footer a{
  padding-left: 7px;
  color: #d3d3d3;
  text-decoration: none;
  font-size: 15px;
}

.site-footer a:hover, .fa-heart:hover{
  color: orange;
  text-decoration: none;
}



.overall{
  min-height: 95vh;
}


.indi-cart{
  background: transparent;
  padding: 7px 7px;
  color: orange;
  border-radius: 3px;
  border: 1px solid orange
}

.indi-cart:hover{
  color: white;
  background: orange;
  cursor: pointer;
}

.view-cart{
  background: orange;
  padding: 5px 20px;
  color: white;
  border-radius: 3px;
  border: 1px solid orange;
  margin-bottom: 13px;
  margin-right: 10px;
}

.view-cart .fa-cart-plus{
  font-size: 18px; 
}

.view-cart:hover{
  /* color: white; */
  border: 1px solid transparent;
  background: rgb(247, 195, 83);
  cursor: pointer;
}

.StripeCheckout{
  background: firebrick !important;
  
  
} 

.StripeCheckout > span{
  background-image: linear-gradient(rgba(255, 255, 255, 0.002), rgba(255, 255, 255, 0.002) 85%, rgba(255, 255, 255, 0.002)) !important;
  background: firebrick !important;
  
  
  
}

.StripeCheckout:hover{
  background: red !important;

} 

.StripeCheckout > span:hover{
  background-image: linear-gradient(rgba(255, 255, 255, 0.002), rgba(255, 255, 255, 0.002) 85%, rgba(255, 255, 255, 0.002)) !important;
  background: red !important;
  
}

.navbar-fa{
  font-size: 30px;
  color: #d3d3d3
}

.user-name{
  color: #d3d3d3;
}

.fa-user-circle{
  margin-top: -2px;
  margin-right: -5px;
  
}

.fa-shopping-cart{
  font-size: 25px;
  color: #d3d3d3;
}

.fa-history{
  font-size: 25px;
  color: #d3d3d3;
  margin-right: 15px;
}

.nav-items-hover:hover, .fa-home:hover, .fa-user-circle:hover, .fa-shopping-cart:hover, .fa-history:hover{
  color: orange ;
}

#navlogo{
  margin-top: -10px;
  margin-right: 10px;
}


.nav-view-cart{
  margin-right: 15px;
}

.submit-order{
  font-size: 15px !important;
  font-weight: bold !important;
}

.log-reg-cart-bg{
  background: rgb(240, 240, 240);
  height: 89vh;
}